### https://raw.github.com/github/gitignore/2bf7d8a77a73f7ef7089db449feafada0549af10/Global/vagrant.gitignore

.vagrant/


### https://raw.github.com/github/gitignore/2bf7d8a77a73f7ef7089db449feafada0549af10/elixir.gitignore

/_build
/deps
erl_crash.dump
*.ez


